/* body {
	background-color: blue;
} */

.border,
.border-blend {
	margin-bottom: 1em;
}

.border {
	background: #808080;
	background: linear-gradient(to right, #ffafc7 10%, #73d7ee 10% 20%, #613915 20% 30%, #000000 30% 40%, #e50000 40% 50%, #ff8d00 50% 60%, #ffee00 60% 70%, #028121 70% 80%, #004cff 80% 90%, #760088 90%);
	height: 2em;
}

.border-blend {
	background: #808080;
	background: linear-gradient(to right, #ffafc7, #73d7ee, #613915, #000000, #e50000, #ff8d00, #ffee00, #028121, #004cff, #760088);
	height: 2em;
}
